::-webkit-scrollbar {
  width: 0px; /* Adjust the width as needed */
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}
* {
  background: transparent;
}
body {
  background-image: url('./body_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  scroll-behavior: smooth;
}
#E_bookingAndCarousel {
  position: relative;
}
#carousel {
  position: relative;
  opacity: 50%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#P_home {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
#E_navBar {
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), url(./footer.png);
  opacity: 70%;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
#img_logo {
  border-radius: 61px;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}
.navText {
  border: transparent 0px;
  background-color: transparent;
  color: brown;
  text-align: center;
  font-size: 20px;
  font-family: Sansita Swashed;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 100%;
}
.title {
  margin-bottom: 40px;
  background: linear-gradient(to right, #1064B1, #3DFF50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 50px;
  font-family: Lobster;
  font-weight: bold;
}
.w-100 {
  height: 400px
}
#navRight {
  margin-right: 30px;
}
#navLeft {
  margin-left: 30px;
}
.box {
  border-radius: 180px;
  background: #FFFB9E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100px;
  flex-shrink: 0;
}
.label {
  color: #702929;
  text-align: center;
  font-size: 25px;
  font-family: Sansita Swashed;
  margin: 0px;
}
.dropdown-toggle {
  width: 250px;
}
#search {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.B_search {
  color: yellow;
  border-radius: 20px;
  padding: 10px;
  width: 120px;
  text-align: center;
  font-size: 20px;
  font-family: Lobster;
  font-weight: bold;
  background: #008080;
}
#E_popular {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 30px;
}
.popu-box {
  display: flex;
}
.popu-image{
  width: 300px;
  height: 250px;
}
.popu-label {
  color: #000;
  font-size: 15px;
  font-family: Lobster;
  font-style: normal;
  font-weight: 400;
  /* line-height: normal; */
}
.popu-info {
  margin-top: 30px;
}
#E_footer {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), url(./footer.png);
  opacity: 70%;
  background-size: cover;
  margin-top: 50px;
}
#footerTitle {
  color: #702929;
  text-align: center;
  font-size: 36px;
  font-family: Sansita Swashed;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#footerDown {
  display: flex;
  justify-content: space-between;
}
.contact {
  margin-left: 50px;
  font-size: 20px;
}
#footerRight{
  line-height: 1.1em;
}
.credit {
  margin-right: 20px;
  font-size: 20px;
}
#members {
  margin-right: 50px;
}
#P_signIn {
  width: 100%;
}
#E_signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.control {
  color: #008080;
  text-align: center;
  font-size: 40px;
  font-family: Lobster;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  outline: none;
  border: none;
  margin-top: 10px;
}
#Input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.indi {
  margin-bottom: 0px;
  margin-top: 10px;
}
#Option {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#InOption {
  color: #008080;
}
#UpOption {
  color: #702929;
}
#B_confirm {
  margin-top: 10px;
  margin-left: 175px;
}
.Inp {
  border-radius: 20px;
  background: #D9D9D9;
  width: 483px;
  height: 62px;
  padding-left: 15px;
}
.dropdown-menu {
  color: black;
}
#E_aboutUs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
#About_demo {
  max-width: 30%;
  height: auto;
}
#info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-between;
  max-width: 500px;
}
#About_text {
  color: #008080;
  text-align: center;
  font-size: 32px;
  font-family: Sansita Swashed;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
}
.popu_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 80%;
  height: 200px;
  background-image: url(./popu_box.png);
  background-size: cover; /* Scale the background image to cover the entire element */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Position the background image at the center */
}


.popu_image {
  width: 288px;
  height: 161px;
  margin-left: 50px;
  margin-right: 20px;
  border-radius: 10px;
}

.popu_info {
  font-family: "Alegreya", serif;
  font-style: italic;
  color: #1BB80E;
  margin-right: 50px;
  margin-top: 50px;
}
#error {
  color: red;  
  font-family: "Alegreya", serif;
  font-style: italic;
  margin: 20px;
}